@tailwind base;
@tailwind components;
@tailwind utilities;


.navbar, .loginInfo{
    box-shadow: 10px 12px 12px #cfc8c8, inset 12px 12px 25px #d6d3d3;
}

.admin-tabslist::-webkit-scrollbar, .navbar::-webkit-scrollbar, .main-body-area::-webkit-scrollbar{
    width: 0px;
}

.logOutico:hover{
    background: #ff0000;
    box-shadow: -4px 4px 10px #c26a6a, 
    4px -4px 10px #22868d, 
    -4px -4px 10px #7770b6, 
    4px 4px 10px #b067b3, 
    inset 12px 12px 25px #dfb0b0;
}